@import url('normalize.css');
@import url('../fonts/museosanscyrl.css');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Cyrl';
  padding-top:40px;
}

.schedule {
  padding: 0 15px;
}

.schedule-heading {
  text-align: center;
  font-size: 40px;
  margin-bottom: 8px;
  margin-top: 0;
}

.schedule-heading::first-letter {
  color: #ff0f0f;
}

.schedule-subheading {
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  margin-top: 0;
  color: #999;
  margin-bottom: 40px;
}

.schedule-card {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex: 1;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0 0 24px 0 rgba(0,0,0,.03);
  border: 1px solid rgba(0,0,0,.05);
  margin: 5px auto;
}

.schedule-card-lecture{
  padding: 20px;
  line-height: 1.3;
}

.schedule-card-lecture > div {
  margin: 8px 0;
}

.schedule-card-schools-wrapper {
  display: flex;
  /*flex-direction: column;*/
  /*justify-content: space-around;*/
  align-items: center;
}

.schedule-card-school {
  width: 100%;
  height: 100%;
  /*background-color: red;*/
  display: flex;
  align-items: center;
  /*font-weight: bold;*/
  border: 1px dashed;
  padding: 10px 20px;
  font-size: 14px;
  justify-content: center;
}

.schedule-card-school-shri {
  color: #ff0f0f;
}

.schedule-card-school-shmd {
  color: #ffcc00;
}

.schedule-card-school-shmr {
  color: #222;
}

.schedule-card-lecture-name {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 8px;
}

.schedule-card-lecture-datetime {
  font-size: 14px;
  /*font-style: italic;*/
}

.schedule-card-lecture-place {
  font-size: 16px;
}

@media screen and (min-width: 600px) {
  .schedule-card {
    flex-direction: row;
  }
  .schedule-card-schools-wrapper {
    flex-direction: column;
  }
}
